/web/bundles/
/web/components/
/web/images/
/web/cars/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# propel generated classes & config
src/*/*/Model/om/
src/*/*/Model/map/
app/propel/sql/default.sql
bin/propel-gen
bin/propel-gen.bat
bin/phing
