{% extends 'KPhoenSandboxBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Propel{% endblock %}

{% block body %}
<div class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-sm-12">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>

            <h1 class="section-heading">Propel + Flysystem + Admingenerator</h1>

            <p>
                The <a href="https://github.com/K-Phoen/Vich-Uploader-Sandbox/tree/propel-admingen"><i>propel-admingen</i></a> branch of the repository showcases the integration of <a href="http://propelorm.org/">Propel</a>,
                <a href="https://github.com/thephpleague/flysystem">Flysystem</a> and <a href="https://github.com/symfony2admingenerator/AdmingeneratorGeneratorBundle">AdmingeneratorGeneratorBundle</a>
                in <a href="https://github.com/dustin10/VichUploaderBundle">VichUploaderBundle</a>.
            </p>

            <p>
                <a href="http://propel-admingen.k-phoen.vich-uploader-sandbox.stage1.io/" class="btn btn-info"><i class="fa fa-rocket fa-fw"></i> See it live</a>
            </p>

            <h2>What's inside?</h2>

            <p>
                The following common situations are implemented:
                <ul>
                    <li><a href="#oneToOne">OneToOne relationship</a>: one entity = one uploadable image ;</li>
                    <li><a href="#oneToSeveral">OneToSeveral relationship</a>: each entity has exactly <i>X</i> uploadable images (where <i>X</i> is known).</li>
                </ul>
            </p>

            <h3>Mapping definitions</h3>

            <p>
                In this application, all VichUploader <b>mappings definitions are done in XML</b>.<br />
                You'll find a file per uploadable entity, each one of this files being stored in the
                <code>Resources/config/vich_uploader</code> folder of the bundle it belongs to.
            </p>

            <h3 id="oneToOne">OneToOne relationship</h3>

            <p>
                The <code>KPhoen\SingleUploadableBundle\Entity\Image</code>
                implements this kind of relation: each <em>Image</em> entity
                represents exactly one uploadable file.
            </p>

            <p>
                The integration with SonataAdminBundle can be found in the <code>KPhoen\Bundle\SingleUploadableBundle\Admin\ImageAdmin</code> class.
            </p>

            <h3 id="oneToSeveral">OneToSeveral relationship</h3>

            <p>
                The <code>KPhoen\MultipleUploadableBundle\Entity\Car</code>
                implements this kind of relation. Each <em>Car</em> entity has
                exactly two uploadable fields.
            </p>

            <p>
                The integration with SonataAdminBundle can be found in the <code>KPhoen\Bundle\MultipleUploadableBundle\Admin\CarAdmin</code> class.
            </p>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
