{% extends 'KPhoenSandboxBundle::layout.html.twig' %}

{% block body %}
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <h2 class="section-heading">Doctrine + Gaufrette + Sonata Admin</h2>

                <p>
                    Sample application showcasing <a href="https://github.com/dustin10/VichUploaderBundle">VichUploaderBundle</a>'s integration
                    with <a href="http://www.doctrine-project.org/">Doctrine</a>
                    as ORM, <a href="https://github.com/KnpLabs/Gaufrette">Gaufrette</a>
                    as filesystem abstraction and <a href="https://github.com/sonata-project/SonataAdminBundle">SonataAdminBundle</a>.
                </p>
                <p class="details text-muted"><a href="{{ path('details_doctrine') }}">More details</a></p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                {% image '@KPhoenSandboxBundle/Resources/public/img/doctrine-logo.png' %}
                    <img src="{{ asset_url }}" class="img-responsive project-logo" alt="Logo Doctrine" />
                {% endimage %}
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <h2 class="section-heading">Propel + Flysystem + Admingenerator</h2>

                <p>
                    Sample application showcasing <a href="https://github.com/dustin10/VichUploaderBundle">VichUploaderBundle</a>'s integration
                    with <a href="http://propelorm.org/">Propel</a>
                    as ORM, <a href="https://github.com/thephpleague/flysystem">Flysystem</a>
                    as filesystem abstraction and <a href="https://github.com/symfony2admingenerator/AdmingeneratorGeneratorBundle">AdmingeneratorGeneratorBundle</a>.
                </p>
                <p class="details text-muted"><a href="{{ path('details_propel') }}">More details</a></p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                {% image '@KPhoenSandboxBundle/Resources/public/img/propel-logo.png' %}
                    <img src="{{ asset_url }}" class="img-responsive project-logo" alt="Logo Propel" />
                {% endimage %}
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.content-section-b -->
{% endblock %}
